<%- include('partials/header') -%>

<div class="container card-container">
  <div class="container">
    <div class="d-flex row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xsm-1">
      <% for(let i=0; i<8; i++) {%>
      <div class="col" style="margin-bottom: 13px">
        <div class="card h-100" id="card" style="margin-left: -5px; margin-right: -5px; box-shadow: 0 0 30px rgb(169, 169, 169); border-radius: 8px; border: 1px solid silver;">
          <div class="card-img-top pt-2 px-2" style="max-height: 20rem;">
            <img src="<%= swipes[i].image%>" class ="card-img-top-img" style="object-fit: cover; border: 1px solid silver" alt="...">
          </div>
          <div class="card-body">
            <div class="d-flex flex-column justify-content-evenly align-items-center" style="height: 10rem; overflow-y: auto; margin-right: -5px; text-align: center;">
              <h5 class="card-title" style="font-weight: 700;"><%= swipes[i].title%></h5>
              <p class="card-text;"><%= swipes[i].caption %></p>
            </div>
            <div>
              <hr style="margin-top: -1px;">
              <div class="d-flex justify-content-between align-items-end">
                <a href="/signup" class="btn w-100" id="btn-viewswipe" style="font-weight: 600;">View Swipe</a>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <span class="badge bg-success" style="padding: 5px 5px 2px;"><%= swipes[i].category%>Likes: signup</span>
            <span style="font-size: 0.8rem;"><small class="badge opacity-50 px-1" style="padding-top: 5px; padding-bottom: 3px; background: rgb(238, 180, 168); color: black; font-size: 0.8rem; font-weight: 500;"><%= new Date().getDate(); %>/<%= new Date().getMonth(); %>/<%= new Date().getFullYear(); %></small></span>
          </div>
        </div>
      </div>
  <% } %>
  </div>
</div>
</div>

<%- include('partials/footer') -%>

