<%- include('partials/headerauthin') -%>

<div class="container card-container">
  <div class="flex"> 
    <div class="d-flex justify-content-between">
      <div class="col-md-6">
        <h1 style="font-weight: 700;"><%= post.title %></h1>
        <p><%= post.caption %></p>
        <p>By: <%= user.userName %></p>
      </div>
      <div class="col-1">
        <div class="d-flex">
          <form
            class="col-10"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-thumbs-up p-3" title="Like Post" style="font-size: 1.2rem;" type="submit"> <%= post.likes %></button>
          </form>
          <form
            class=""
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-star p-3" title="Add to Favorites" style="font-size: 1.2rem;" type="submit"> <%= post.fav %></button>
          </form>
        </div>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash mt-2" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-md-8 flex mx-auto">
      <img src="<%= post.image%>" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<%- include('partials/footer') -%>