<%- include('partials/headerauthin') -%>

<div class="container card-container">
    <div class="flex">
      <div class="col-md-6">
        <h1><%= post.title %></h1>
        <p><%= post.caption %></p>
        <p>By: <%= user.userName %></p>
      </div>
      <div class="col-md-6">
        <img src="<%= post.image%>" class="img-fluid" alt="Responsive image">
      </div>
    </div>
</div>

<%- include('partials/footer') -%>