<%- include('partials/headerauthin') -%>

<div class="container card-container">
  <div class="flex"> 
    <div class="justify-content-between details-container">
      <div class="flex col-3 swipe-title">
        <h1 class="mb-3 swipe-title" style="font-weight: 800; font-size: 2rem;"><%= swipe.title %></h1>
        <div class="d-flex justify-content-between" style="width: 15rem;">
          <p class="swipe-by" style="font-size: 0.8rem; margin-top: 2px;">By: <%= swipe.userName %></p>
          <span style="font-size: 0.8rem; letter-spacing: 0;"><small class="badge opacity-50 px-1" style="padding-top: 6px; padding-bottom: 2px; background: rgb(240, 200, 200); color: black; font-size: 0.8rem; font-weight: 500; height: 25px;"><%= new Date().getDate(); %>/<%= new Date().getMonth(); %>/<%= new Date().getFullYear(); %></small></span>
          <div class="badge bg-success" style="width:fit-content; height: 25px; padding-top: 6px; text-align: left;margin-right: 8px";>Likes: <%= swipe.likes.length - 1 %></div>
        </div>
      </div>
      <p class="swipe-details-sub" style="font-weight: 500; font-size: 1.3rem;"><%= swipe.caption %></p>
      <div class="col-3 btn-social">
        <div class="d-flex mt-1">
          <form style="margin-left: auto;" action="/swipe/likeSwipe/<%= swipe.id %>?_method=PUT" method="POST">
            <button class="btn mx-1" id="btn-signup" title="Like Swipe" style="font-size: 1.2rem; font-family: 'Open Sans', sans-serif;" type="submit"><i class="<%if(swipe.likes.includes(user.id)){ %> bi bi-hand-thumbs-up-fill <%} else { %> bi bi-hand-thumbs-up <% }%>" style="font-style: normal; font-weight: 500;"></i></button>
          </form>
          <form class="" action="/swipe/favSwipe/<%= swipe.id %>?_method=PUT" method="POST">
            <button class="btn mx-1" id="btn-signup" title="Add to Favorites" style="font-size: 1.2rem;" type="submit"><i class="<%if(swipe.favorites.includes(user.id)){ %> bi bi-star-fill <%} else { %> bi bi-star <% }%>"></i></button>
          </form>   
          <%if(swipe.userName == user.userName){ %>
          <form action="/swipe/deleteSwipe/<%= swipe.id %>?_method=DELETE" method="POST" class="col-3">
            <button class="btn btn-danger mx-1" type="submit" title="Delete Swipe" style="font-size: 1.2rem; padding-top: 7px; padding-bottom: 5px;"><i class="bi bi-trash"></i></button>
          </form>
          <%}%>
        </div>
      </div>
    </div>
    <div class="flex mx-auto swipe-img-holder" style="box-shadow: 0 0 50px rgb(184, 183, 183); border-radius: 8px; border: 1px solid silver; padding: 1rem; max-width: 700px;">
      <img src="<%= swipe.image%>" style="object-fit: fill; max-height:fit-content; border-radius: 5px;" class="swipe-img mx-auto" alt="Responsive image">
    </div>
    <div>
      <div class="mt-5 commentbox mx-auto">
        <h2>Add a comment</h2>
        <form action="/comment/createComment/<%=swipe._id%>" method="POST">
          <div class="mb-3">
              <label for="title" class="form-label">Comment</label>
              <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" id="btn-loginpage" class="btn" >Submit</button>
        </form>
      </div>
      <div class="mx-auto commentbox" style="margin-top: 40px;">
        <ul style="padding-left: 0;">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="justify-content-between mt-4" style="list-style: none; border-radius: 5px;">
              <div class="list-group-item d-flex gap-3 py-3">
                <i class="bi bi-person-circle"></i>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <p class="mb-0 opacity-75"><%= comments[i].comment%></p>
                  </div>
                  <small class="badge opacity-50" style="padding-top: 6px; background: rgb(238, 180, 168); color: black; height: 25px;"><%= new Date().getDate(); %> / <%= new Date().getMonth(); %> / <%= new Date().getFullYear(); %></small>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>